@tailwind base;
@tailwind components;
@tailwind utilities;


/* INFO MESSAGE */
.info_message{
    animation: fade_out 3s 1s forwards;
}
.outline{
    outline:solid black 1px;
}

input::placeholder,
textarea::placeholder{
    color:#1e40af;
    opacity: 0.75;
}

/* NAV */
.nav_icons{
    cursor:pointer;
}

/* INDEX */
input[type=submit]{
    cursor:pointer;
}

/* BO - USERS */
.edit_user_zone,
.edit_user_close{
    display:none;
}
.edit_user_close,
.edit_user_zone img,
.edit_user_btn{
    cursor:pointer;
}
/* ANIMATIONS */
@keyframes fade_out {
    0% {
        opacity: 1;
        z-index: 30;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}